{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>{{profile.user.first_name}}'s' Profile</title>		<link rel="icon" href="{% static 'img/favicon.png' %}" type="image/gif" sizes="16x16">

		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Regale is an online platform to find a foodie date of your interest">
		<meta name="keywords" content="food, restuarants, date, places around, community, stranger, dining">
		<meta name="author" content="Gagan">
		<!-- Bootstrap CSS -->
		<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
				<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/slate/bootstrap.min.css">

		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<link rel="icon" href="{% static 'img/favicon.png' %}" type="image/gif" sizes="16x16">
	</head>
	<body>
		<!--Header-->
		<nav class="navbar navbar-expand-lg navbar-light mybg">
			<a class="navbar-brand" href="/" id="name"><i class="fas fa-utensils"></i> Drinder</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/about/">About Us</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Services
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Restraunts</a>
							<a class="dropdown-item" href="/cusines/">Cusines</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/profiles/">Profiles</a>
						</div>
					</li>
					<a class="nav-link" href="/contact_us/">Contact Us</a>
				</ul>
			</div>
		</nav>
		<!--End Header-->
		<div class="container profile-view">
			<div class="card" style="width: 18rem;">
				<img src="{% static 'img/profile_img.jpg' %}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">{{profile.user.first_name}} {{profile.user.last_name}}</h5>
					<p class="card-text">{{profile.bio}}</p>
					<p>Availablility Dates: {{profile.is_available}}</p>
					<p>Location: {{profile.location.name}}</p>
					{% if profile.user == request.user %}
						<a href="/profile/{{profile.pk}}/edit/" class="btn btn-primary">Edit Profile</a>
					{% endif %}
					{% if not profile.user == request.user %}
					<!-- <form method="POST" action="/profile/{{profile.pk}}/sendrequest/">	
						{% csrf_token %}
					<button type="submit" class="btn btn-primary" name='sendrequest'>Send Request</button>
					</form> -->
					{% endif %}
				</div>
			</div>

			
		</div>
	</body>
</html>